.loadWrapper {
	width: 100%;
	height: 100%;
}
.load {
	width: 100%;
	display: flex;
	margin-top: 5px;
	align-items: center;
}
.load p {
	width: 20%;
}
.loadsContent {
	margin: 10px 0;
	width: 100%;
	min-height: 85%;
	max-height: 85%;
	overflow-y: auto;
}
