* {
	color: #003a8c;
}

.wrapper {
	height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
}
.mainPage {
	border: 1px solid #003a8c;
	border-radius: 5px;
	width: 100%;
	height: 500px;
	margin: auto;
	overflow: hidden;
}

.main {
	width: 100%;
	height: 100%;
}
.contentWrapper {
	display: flex;
	height: 100%;
}
