.userRole {
	text-align: center;
}
.userData {
	font-size: 18px;
	font-weight: bold;
}
.infoWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.profileControls {
	align-self: flex-end;
}
.profileControls button,
.passModalControls button {
	margin-left: 20px;
}
.passModalControls {
	margin-top: 20px;
	align-self: flex-end;
}
.deleteAccControls {
	width: 60%;
	display: flex;
	justify-content: space-between;
}
