.modalBackground {
	width: 100%;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	opacity: 0.2;
	display: flex;
	justify-content: center;
	padding-top: 30vh;
}
.modal {
	border-radius: 5px;
	position: absolute;
	width: 500px;
	min-height: 300px;
	background: white;
	padding: 20px 50px;
}
.modal label {
	align-self: flex-start;
}
.modal p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.contentWrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
