.authForm_wrapper {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.authForm {
	padding: 25px 20px;
	border: 1px solid #003a8c;
	border-radius: 5px;
	width: 400px;
}
.authForm_title {
	text-align: center;
	color: #002766;
}
.form_control {
	margin: 5px;
}

.authForm button {
	margin: 10px 0;
	width: 100%;
	border-radius: 0;
}
.authForm p {
	width: fit-content;
	margin: 0 auto;
}
