.loadsControls {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.modalControls {
	width: 100%;
}
.dimensionsWrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.dimensionsTitle {
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.modalBtns {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.modalBtns button {
	margin-left: 20px;
}
.btnWrapper button {
	margin-left: 10px;
}
.btnWrapper {
	width: 20%;
	display: flex;
	justify-content: flex-end;
}
.changeLoad {
	margin-left: 10px;
	padding: 7px 10px;
	border: 1px solid #096dd9;
	border-radius: 5px;
	transition: 0.2s linear;
	color: #002766;
}
.changeLoad:hover {
	background: #1890ff;
	color: #fff;
}
