.button {
	padding: 7px 10px;
	border: 1px solid #096dd9;
	border-radius: 5px;
	transition: 0.2s linear;
	color: #002766;
}
.button:hover {
	background: #1890ff;
	color: #fff;
}
.btnDanger {
	border: 1px solid #820014;
	color: #820014;
}
.btnDanger:hover {
	background: #cf1322;
}
