.header {
	margin-top: 10px;
	display: flex;
	width: 100%;
}
.header p {
	width: 20%;
	font-weight: bold;
}
.trucksWrapper {
	margin-top: 10px;
	height: 85%;
}
.controlsWrapper {
	display: flex;
	justify-content: flex-end;
	align-self: center;
}
.controlsWrapper button {
	margin-left: 10px;
}
.controlsWrapper button,
.controlsWrapper select {
	margin: 0;
	height: 40px;
}
.truckSelect {
	width: 220px;
}
