.notWrapper {
	position: absolute;
	top: 5%;
	right: 18%;
	border: 2px solid #002766;
	border-radius: 5px;
	width: 300px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
