.modalControls {
	width: 40%;
}
.inputsWrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.dimensionsWrapper {
	display: flex;
	width: 100%;
}
.dimensionsWrapper .modalControls {
	width: 100%;
}
.dimensionsTitle {
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modalBtns {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.modalBtns button {
	margin-left: 10px;
}
