* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	outline: none;
	text-decoration: none;
	border: none;
	font-weight: normal;
	font-family: sans-serif;
}

html {
	position: relative;
}
body {
	width: 1100px;
	max-width: 1100px;
	margin: 0 auto;
}
h2 {
	font-size: 22px;
	font-weight: bold;
}
a {
	color: #0050b3;
}
button {
	cursor: pointer;
	background: #fff;
}
.page {
	height: 75%;
	padding: 10px 20px;
}
.page_name {
	text-align: center;
	font-size: 30px;
}
label {
	color: #002766;
	display: block;
}
input,
select {
	width: 100%;
	border: 1px solid #096dd9;
	border-radius: 3px;
	padding: 5px 15px;
	margin: 5px 0;
}
select {
	cursor: pointer;
}
