.loadsHeader {
	margin-top: 10px;
	display: flex;
	width: 100%;
}
.loadsHeader p {
	width: 20%;
	font-weight: bold;
}
.loadsHeaderNewLoads {
	margin-top: 10px;
	display: flex;
	width: 80%;
}
.loadsHeaderNewLoads p {
	width: 25%;
	font-weight: bold;
}
