.header {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #003a8c;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}
.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.controls button {
	margin-left: 20px;
}
